body {
  font-family: arial, helvetica, sans-serif;
  color: white;
  padding-top: 50px;
  background-color: #101010;
}

p {
  line-height: 21px;
}

hr {
  margin-right: 70%;
}

h1 {
  color: white;
  font-size: 2em;
  margin-left: 10px;
  margin-bottom: 7px;
  padding: 4px;
  font-style: italic;
}

h2 {
  color: white;
  background-color: #090;
  font-size: 1.5em;
  margin: 0;
  padding: 2px;
  padding-left: 14px;
}

h3 {
  color: #999;
  font-size: 1.25em;
}

a {
  text-decoration: none;
}

strong {
  font-style: italic;
  text-transform: uppercase;
}

table {
  background-color: #ccc;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #202020;
  border-bottom-style: solid;
  border-bottom-width: 0.3em;
  border-bottom-color: #ffc;
}

li {
  float: left;
}

li a {
  font-size: 1.1em;
  padding: 16px 20px;
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

li a:hover {
  color: #ffc;
}

.home-img {
  padding: 12px;
  vertical-align: middle;
}

.home-img:hover {
  background-color: transparent;
}

.active {
  background-color: #303030;
}

.home {
  font-family: 'Share Tech', sans-serif;
  font-size: 1.4em;
  color: #ffc;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 40px;
  padding-left: 0;
}

.home:hover {
  background-color: transparent;
}

#grad {
  background: red;
  background: -webkit-linear-gradient(
    left,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet
  );
  background: -o-linear-gradient(
    right,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet
  );
  background: -moz-linear-gradient(
    right,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet
  );
  background: linear-gradient(
    to right,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
