body {
  font-family: arial, helvetica, sans-serif;
  font-size: 14px;
  color: white;
  background-color: #101010;
  padding: 0;
}

p {
  line-height: 21px;
}

h1 {
  color: #ffc;
  background-color: #555;
  font-size: 2em;
  margin: 0;
  margin-bottom: 7px;
  padding: 4px;
  font-style: italic;
  text-align: center;
  letter-spacing: 0.5em;
  border-bottom-style: solid;
  border-bottom-width: 0.5em;
  border-bottom-color: #c0c;
}

h2 {
  color: white;
  background-color: #090;
  font-size: 1.5em;
  margin: 0;
  padding: 2px;
  padding-left: 14px;
}

h3 {
  color: #999;
  font-size: 1.25em;
}

a {
  text-decoration: none;
}

strong {
  font-style: italic;
  text-transform: uppercase;
}

table {
  background-color: #ccc;
}

ul {
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: #202020;
}

li {
  float: left;
}

li a {
  font-size: 1.2em;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #303030;
}

ul li img {
  vertical-align: middle;
}

.active {
  background-color: #808080;
}

.home {
  font-family: 'Share Tech', sans-serif;
  font-size: 1.4em;
  background-color: transparent;
  padding-right: 30px;
}

#grad {
  background: red;
  background: -webkit-linear-gradient(
    left,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet
  );
  background: -o-linear-gradient(
    right,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet
  );
  background: -moz-linear-gradient(
    right,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet
  );
  background: linear-gradient(
    to right,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
